@using NPD.Workflow.Models.NPD
@using NPD.CommonDataContract
@model List<ITrans>


<div class="table-responsive" >
    <table class="table table-hover table-bordered someTable" id="targetrlptable">
        <thead>
            <tr>
                <th>@Html.ResourceValue("Grid_CumulativeSalesProjection_Header_Label_TargetRLP", ResourceNames.NPD)</th>
                <th>@Html.ResourceValue("Grid_CumulativeSalesProjection_Header_Label_TargetTransferPrice", ResourceNames.NPD)</th>
                <th>@Html.ResourceValue("Grid_Title_Action", ResourceNames.Common)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (NPDTargetRLP item in Model)
                {
                    <tr>
                      
                        <td>@item.TargetRLP</td>
                        <td>@item.TargetTransferPrice</td>
                        <td>
                            <a class="btn ink-reaction btn-floating-action" data-ajax="true" data-ajax-loading="#loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divAddTargetRLP" href="@Url.Action("AddTargetRLP", "NPD", new { index = @item.Index })">
                                <i class='fa fa-edit'></i>
                            </a>
                            <a class="btn ink-reaction btn-floating-action btn-danger" onclick="TargetRLPDelete('@item.Index');">
                                <i class='fa fa-trash-o'></i>
                            </a>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center text-danger">
                        @Html.ResourceValue("Grid_Text_NoTargetRLPData", ResourceNames.NPD)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


