@using NPD.Workflow.Models.NPD
@using NPD.CommonDataContract
@using NPD.Workflow.Models.Common
@model  IContract
@{
    NPDContract contract = Model as NPDContract;

    NPDForm form = contract.Forms.FirstOrDefault() as NPDForm;
    ViewBag.Title = "New Product Development";
    NPDDetailSection npdDetailSection = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDDETAILSECTION)) as NPDDetailSection;

    NPDApprover1Section npdApprver1Section = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDAPPROVER1SECTION)) as NPDApprover1Section;
    NPDApprover2Section npdApprver2Section = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDAPPROVER2SECTION)) as NPDApprover2Section;
    NPDApprover3Section npdApprver3Section = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDAPPROVER3SECTION)) as NPDApprover3Section;
    NPDABSAdminSection npdABSAdminSection = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDABSADMINSECTION)) as NPDABSAdminSection;

    NPDStageGate1 NPDStageGate1Section = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDSTAGEGATE1SECTION)) as NPDStageGate1;
    NPDStageGate2 NPDStageGate2Section = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDSTAGEGATE2SECTION)) as NPDStageGate2;
    NPDStageGate3 NPDStageGate3Section = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.NPDSTAGEGATE3SECTION)) as NPDStageGate3;

}

@if (form != null)
{
@section buttons{
   
   
        @Html.Partial("_ButtonGroup", form.Buttons)
   
        
    }

    if (!string.IsNullOrEmpty(form.FormStatus))
    {
        <div class="card-body text-right pad-bot-15">
            <div class="label label-primary">
                @form.FormStatus
            </div>
        </div>
    }


    <div id="pageNPD">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="tab-content responsive " id="generalTabContent">
                            @if (npdDetailSection != null)
                        {
                            string sectionActiveCss = npdDetailSection.IsActive ? string.Empty : "disabled";
                            string isRetriveCase = !string.IsNullOrEmpty(Request.QueryString["IsRetrieve"]) ? "Style=background-color:#F2B7B7" : string.Empty;
                                <div class="card @sectionActiveCss">
                                    <div class="card-head" data-toggle="collapse" data-target="#sectiondetails1">
                                        @Html.ResourceValue("Section_Title_NPDDetailDocumentSection", ResourceNames.NPD)
                                        <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                    </div>
                                    <div class="card-body" id="sectiondetails1" @isRetriveCase>
                                        <div class="form-horizontal">
                                            <p><span class="text-danger text-default-light">@Html.ResourceValue("Text_Mandatory", ResourceNames.Common)</span></p>
                                            @Html.Partial("_npdDetailSection", npdDetailSection)

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        }
                            @if (npdApprver1Section != null)
                        {
                            string npdApprover1Name = string.Empty;
                                if(npdDetailSection != null)
                                {
                                    npdApprover1Name = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.APPROVER1).ApproverName;
                                    if (string.IsNullOrWhiteSpace(npdApprover1Name))
                                    {
                                        npdApprover1Name = "1 Section";
                                    }
                                    else
                                    {
                                        npdApprover1Name = npdApprover1Name + " Section";
                                    }
                                }
                                
                                
                            string sectionActiveCss = npdApprver1Section.IsActive ? string.Empty : "disabled";
                                <div class="card @sectionActiveCss">
                                    <div class="card-head" data-toggle="collapse" data-target="#sectionapprover1">
                                        @Html.ResourceValue("Section_Title_NPDApprover1Section", ResourceNames.NPD) @npdApprover1Name 

                                        <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                    </div>
                                    <div class="card-body" id="sectionapprover1">
                                        <div class="form-horizontal">

                                            @Html.Partial("_npdApprover1Section", npdApprver1Section)

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        }
                            @if (npdApprver2Section != null)
                        {
                            string npdApprover2Name = string.Empty;
                            if (npdDetailSection != null)
                            {
                                npdApprover2Name = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.APPROVER2).ApproverName;
                                if (string.IsNullOrWhiteSpace(npdApprover2Name))
                                {
                                    npdApprover2Name = "2 Section";
                                }
                                else
                                {
                                    npdApprover2Name = npdApprover2Name + " Section";
                                }
                            }
                            string sectionActiveCss = npdApprver2Section.IsActive ? string.Empty : "disabled";
                                <div class="card @sectionActiveCss">
                                    <div class="card-head" data-toggle="collapse" data-target="#sectionapprover2">
                                        @Html.ResourceValue("Section_Title_NPDApprover2Section", ResourceNames.NPD) @npdApprover2Name

                                        <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                    </div>
                                    <div class="card-body" id="sectionapprover2">
                                        <div class="form-horizontal">

                                            @Html.Partial("_npdApprover2Section", npdApprver2Section)

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        }
                            @if (npdApprver3Section != null)
                        {
                            string npdApprover3Name = string.Empty;
                            if (npdDetailSection != null)
                            {
                                npdApprover3Name = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.APPROVER3).ApproverName;
                                if (string.IsNullOrWhiteSpace(npdApprover3Name))
                                {
                                    npdApprover3Name = "3 Section";
                                }
                                else
                                {
                                    npdApprover3Name = npdApprover3Name + " Section";
                                }
                                
                            }
                           
                            string sectionActiveCss = npdApprver3Section.IsActive ? string.Empty : "disabled";
                                <div class="card @sectionActiveCss">
                                    <div class="card-head" data-toggle="collapse" data-target="#sectionapprover3">
                                        @Html.ResourceValue("Section_Title_NPDApprover3Section", ResourceNames.NPD) @npdApprover3Name

                                        <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                    </div>
                                    <div class="card-body" id="sectionapprover3">
                                        <div class="form-horizontal">

                                            @Html.Partial("_npdApprover3Section", npdApprver3Section)

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        }
                            @if (npdABSAdminSection != null)
                            {

                                string npdABSAdminName = string.Empty;
                                if (npdDetailSection != null)
                                {
                                    npdABSAdminName = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.ABSADMIN).ApproverName;
                                    if (string.IsNullOrWhiteSpace(npdABSAdminName))
                                    {
                                        npdABSAdminName = "ABSAdmin Section";
                                    }
                                    else
                                    {
                                        npdABSAdminName = npdABSAdminName + " Section";
                                    }
                                }
                                string sectionActiveCss = npdABSAdminSection.IsActive ? string.Empty : "disabled";
                                <div class="card @sectionActiveCss">
                                    <div class="card-head" data-toggle="collapse" data-target="#ABSAdminSection">
                                        @Html.ResourceValue("Section_Title_NPDABSAdminSection", ResourceNames.NPD) @npdABSAdminName

                                        <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                    </div>
                                    <div class="card-body" id="ABSAdminSection">
                                        <div class="form-horizontal">

                                            @Html.Partial("_npdABSAdminSection", npdABSAdminSection)

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        }
                            @if (npdABSAdminSection.CurrentApprover.Approver != contract.UserDetails.UserId)
                            {
                                NPDStageGate1Section = null;
                            }
                           
                           

                        @if (NPDStageGate1Section != null)
                        {
                            string npdStageGate1Name = string.Empty;
                            if (npdDetailSection != null)
                            {
                                npdStageGate1Name = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.STAGEGATE1).ApproverName;
                                if (string.IsNullOrWhiteSpace(npdStageGate1Name))
                                {
                                    npdStageGate1Name = "StageGate1 Section";
                                }
                                else
                                {
                                    npdStageGate1Name = npdStageGate1Name + " Section";
                                }
                            }

                            string sectionActiveCss = NPDStageGate1Section.IsActive ? string.Empty : "disabled";
                            <div class="card @sectionActiveCss">
                                <div class="card-head" data-toggle="collapse" data-target="#NPDStageGate1Section">
                                    @Html.ResourceValue("Section_Title_NPDStageGate1Section", ResourceNames.NPD) @npdStageGate1Name

                                    <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                </div>
                                <div class="card-body" id="NPDStageGate1Section">
                                    <div class="form-horizontal">

                                        @Html.Partial("_npdStageGate1Section", NPDStageGate1Section)

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }

                        @if (npdABSAdminSection.CurrentApprover.Approver != contract.UserDetails.UserId)
                        {
                            NPDStageGate2Section = null;
                        }

                        @if (NPDStageGate2Section != null)
                        {
                            string npdStageGate2Name = string.Empty;
                            if (npdDetailSection != null)
                            {
                                npdStageGate2Name = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.STAGEGATE2).ApproverName;
                                if (string.IsNullOrWhiteSpace(npdStageGate2Name))
                                {
                                    npdStageGate2Name = "StageGate2 Section";
                                }
                                else
                                {
                                    npdStageGate2Name = npdStageGate2Name + " Section";
                                }
                            }

                            string sectionActiveCss = NPDStageGate2Section.IsActive ? string.Empty : "disabled";
                            <div class="card @sectionActiveCss">
                                <div class="card-head" data-toggle="collapse" data-target="#NPDStageGate2Section">
                                    @Html.ResourceValue("Section_Title_NPDStageGate2Section", ResourceNames.NPD) @npdStageGate2Name

                                    <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                </div>
                                <div class="card-body" id="NPDStageGate2Section">
                                    <div class="form-horizontal">

                                        @Html.Partial("_npdStageGate2Section", NPDStageGate2Section)

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }

                        @if (npdABSAdminSection.CurrentApprover.Approver != contract.UserDetails.UserId)
                        {
                            NPDStageGate3Section = null;
                        }

                        @if (NPDStageGate3Section != null)
                        {
                            string npdStageGate3Name = string.Empty;
                            if (npdDetailSection != null)
                            {
                                npdStageGate3Name = npdDetailSection.ApproversList.FirstOrDefault(p => p.Role == NPDRoles.STAGEGATE3).ApproverName;
                                if (string.IsNullOrWhiteSpace(npdStageGate3Name))
                                {
                                    npdStageGate3Name = "StageGate3 Section";
                                }
                                else
                                {
                                    npdStageGate3Name = npdStageGate3Name + " Section";
                                }
                            }

                            string sectionActiveCss = NPDStageGate3Section.IsActive ? string.Empty : "disabled";
                            <div class="card @sectionActiveCss">
                                <div class="card-head" data-toggle="collapse" data-target="#NPDStageGate3Section">
                                    @Html.ResourceValue("Section_Title_NPDStageGate3Section", ResourceNames.NPD) @npdStageGate3Name

                                    <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
                                </div>
                                <div class="card-body" id="NPDStageGate3Section">
                                    <div class="form-horizontal">

                                        @Html.Partial("_npdStageGate3Section", NPDStageGate3Section)

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }


                            @{ApplicationStatusSection appStatus = form.SectionsList.FirstOrDefault(f => f != null && f.SectionName.Equals(SectionNameConstant.APPLICATIONSTATUS)) as ApplicationStatusSection;

                        if (appStatus != null)
                        {
                            @Html.Partial("_ApplicationStatus", appStatus)
                        }

                        ActivityLogSection activityLog = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(NPDSectionName.ACTIVITYLOG)) as ActivityLogSection;
                        if (activityLog != null)
                        {
                            @Html.Partial("_ActivityLogs", activityLog, new ViewDataDictionary { { "Resources", ResourceNames.NPD } })
                        }
                            }
                        </div>
                </div>
            </div>
        </div>

       

    </div>

    <div id="divAddProductFeature"></div>
    <div id="divAddProductCompetitor"></div>
    <div id="divAddCumulativeSalesProjection"></div>
    <div id="divAddTargetRLP"></div>
    <div class="scroll-top-wrapper ">
        <i class="fa fa-chevron-up">
        </i>
    </div>
    if (npdDetailSection != null)
    {
        if (npdDetailSection.Status == "Completed" || npdDetailSection.Status == "Rejected")
        {
            @Html.Partial("_printNPD", Model)
        }
    }

    @section scripts{
        @Scripts.Render("~/bundles/npdindex")
        @Scripts.Render("~/bundles/npdheartbeat")

    }
  
}



